#header,
#sections,
#signupDetails {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 7px 0px;
    background-color: rgb(57, 210, 57);
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

#header {
    padding: 7px 15px 10px 15px;
    min-width: 98vw;
    overflow: hidden;
    box-sizing: border-box;
}

#logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 600;
    color: red;
}

.logoWelcome {
    color: white;
}

.headerTexts {
    cursor: pointer;
}

.headerTexts:hover {
    color: red;
}

#userEmail {
    color: red;
    font-size: 20px;
}


@media only screen and (max-width: 900px) {
    #signupDetails {
        display: none;
    }
}

@media only screen and (max-width: 570px) {
    #logo {
        display: none;
    }
}